################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TravelClient/bin/
/TravelClient/obj/
/TravelAppServer/obj/
/TravelAppServer/bin/
/TravelApp.Models/bin/
/TravelApp.Models/obj/
/.vs/
/TravelApp.slnLaunch.user
