@page "/register"
@using System.ComponentModel.DataAnnotations

<h3>Register</h3>

<EditForm Model="registrationModel" OnValidSubmit="HandleRegistration">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="registrationModel.Email" placeholder="Email" />
    <InputText @bind-Value="registrationModel.Password" placeholder="Password" type="password" />

    <button type="submit">Register</button>
</EditForm>

@code {

    private RegistrationModel registrationModel = new();

    private async Task HandleRegistration()
    {
        // var response = await Http.PostAsJsonAsync("api/auth/register-email", registrationModel);
        // if (response.IsSuccessStatusCode)
        // {
        //     var token = await response.Content.ReadAsStringAsync();
        //     // Handle successful registration
        // }
        // else
        // {
        //     // Handle error
        // }
    }

    private class RegistrationModel
    {
        [Required]
        public string Email { get; set; }
        [Required]
        public string Password { get; set; }
    }
}